.nav-pills .nav-link {
  border: 1px solid var(--bs-success);
  color: var(--bs-success);
  background-color: #fff;
}

.nav-pills .nav-link.active {
  color: #fff;
  background-color: var(--bs-success);
}
