<div class="home-bg">
  <div class="home-container">
    <div class="container home-row">
      <div class="home-content mx-auto">
        <div class="text-center mt-5 px-3">
          <h1 class="home-header-title mb-3">
            {{ 'Administration::WelcomeToResourcery' | abpLocalization }}
          </h1>
          <p class="home-subtitle-text text-center text-wrap mx-auto fs-5 fw-semibold">
            {{ 'Administration::WelcomeToResourceryDescription' | abpLocalization }}
          </p>
          <!-- <span class="text-sm home-subtitle-text"> {{ 'Administration::ArtificialIntelligence' | abpLocalization }} &middot; {{ 'Administration::IntegratedWorkflows' | abpLocalization }} &middot; {{ 'Administration::ProcessAutomation' | abpLocalization }} &middot; {{ 'Administration::DigitalPlatforms' | abpLocalization }}</span> -->
          </div>

        <div class="home-spacer" aria-hidden="true"></div>

        <!-- Cards Section -->
        <div class="row g-4 justify-content-center mb-5">
          <div class="col-12 col-md-6 col-lg-4">
            <a href="/request" (click)="navigateToDashboard()" class="text-decoration-none">
              <div class="card h-100 home-card">
                <div class="card-body p-4">
                  <h4 class="card-title mb-3 fs-4 fw-bold">
                    {{ 'Administration::ServiceRequest' | abpLocalization }}
                  </h4>
                  <p class="card-text mb-4 fs-5 fw-semibold">
                    {{ 'Administration::ServiceRequestDescription' | abpLocalization }}
                  </p>
                </div>
              </div>
            </a>
          </div>
          <div class="col-12 col-md-6 col-lg-4">
            <a href="/directorate" class="text-decoration-none">
              <div class="card h-100 home-card">
                <div class="card-body p-4">
                  <h4 class="card-title mb-3 fs-4 fw-bold">
                    {{ 'Administration::ServiceManagement' | abpLocalization }}
                  </h4>
                  <p class="card-text mb-4 fs-5 fw-semibold">
                    {{ 'Administration::ServiceManagementDescription' | abpLocalization }}
                  </p>
                </div>
              </div>
            </a>
          </div>
          <div class="col-12 col-md-6 col-lg-4">
            <a href="/transcribe" class="text-decoration-none">
              <div class="card h-100 home-card">
                <div class="card-body p-4">
                  <h4 class="card-title mb-3 fs-4 fw-bold">
                    {{ 'Administration::ECOWASS2Title' | abpLocalization }}
                  </h4>
                  <p class="card-text mb-4 fs-5 fw-semibold">
                    {{ 'Administration::ECOWASS2Description' | abpLocalization }}
                  </p>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="home-footer">
    <div class="container">
      <a href="#" class="text-bold text-decoration-none fs-6 fw-normal text-primary-emphasis">
        {{ 'Administration::Copyright' | abpLocalization }}&copy;2026 Directrorate of Conference and
        Protocol, ECOWAS Commission.
      </a>
      <a
        href=""
        class="text-bold text-decoration-none fs-6 fw-normal text-primary-emphasis"
        (click)="changeLanguage('en', $event)"
        >EN</a
      >
      <a
        href=""
        class="text-bold text-decoration-none fs-6 fw-normal text-primary-emphasis"
        (click)="changeLanguage('fr', $event)"
        >FR</a
      >
      <a
        href=""
        class="text-bold text-decoration-none fs-6 fw-normal text-primary-emphasis"
        (click)="changeLanguage('pt-BR', $event)"
        >PT</a
      >
    </div>
  </div>
</div>
