<nav class="qt-nav">
 <a class="qt-nav-item" routerLink="/directorate" routerLinkActive="active"
    title="{{ 'Administration::Dashboard' | abpLocalization }}">
    <!-- <i class="fa fa-border-all" aria-hidden="true"></i> -->
    <span class="text-bold">
      <strong> {{ 'Administration::InterpretationServices' | abpLocalization }} </strong>
    </span>
  </a>

  <a class="qt-nav-item" routerLink="/interpretation/interpretation-requests" routerLinkActive="active"
    title="{{ 'Administration::InterpretationRequests' | abpLocalization }}">
    <i class="fa fa-wpforms" aria-hidden="true"></i>
    <span>
      {{ 'Administration::InterpretationRequests' | abpLocalization }}
    </span>
  </a>
  <a class="qt-nav-item" routerLink="/interpretation/interpretation-processing" routerLinkActive="active"
    title="{{ 'Administration::InterpretationProcessing' | abpLocalization }}">
    <i class="fa fa-spinner" aria-hidden="true"></i>
    <span>
      {{ 'Administration::InterpretationProcessing' | abpLocalization }}
    </span>
  </a>
  <a class="qt-nav-item" routerLink="/interpretation/interpretater-deployment-physical" routerLinkActive="active"
    title="{{ 'Administration::InterpretaterDeploymentPhysical' | abpLocalization }}">
    <i class="fa fa-truck" aria-hidden="true"></i>
    <span>
      {{ 'Administration::InterpretaterDeploymentPhysical' | abpLocalization }}
    </span>
  </a>
  <a class="qt-nav-item" routerLink="/interpretation/interpretater-deployment-virtual" routerLinkActive="active"
    title="{{ 'Administration::InterpretaterDeploymentVirtual' | abpLocalization }}">
    <i class="fa fa-video" aria-hidden="true"></i>
    <span>
      {{ 'Administration::InterpretaterDeploymentVirtual' | abpLocalization }}
    </span>
  </a>
  <a class="qt-nav-item" routerLink="/interpretation/interpretater-deployment-hybrid" routerLinkActive="active"
    title="{{ 'Administration::InterpretaterDeploymentHybrid' | abpLocalization }}">
    <i class="fa fa-random" aria-hidden="true"></i>
    <span>
      {{ 'Administration::InterpretaterDeploymentHybrid' | abpLocalization }}
    </span>
  </a>
  <a class="qt-nav-item" routerLink="/interpretation/interpretation-inspection" routerLinkActive="active"
    title="{{ 'Administration::InterpretationInspection' | abpLocalization }}">
    <i class="fa fa-search" aria-hidden="true"></i>
    <span>
      {{ 'Administration::InterpretationInspection' | abpLocalization }}
    </span>
  </a>
  <a class="qt-nav-item" routerLink="/interpretation/interpretation-sound-check-physical" routerLinkActive="active"
    title="{{ 'Administration::InterpretationSoundCheckPhysical' | abpLocalization }}">
    <i class="fa fa-volume-up" aria-hidden="true"></i>
    <span>
      {{ 'Administration::InterpretationSoundCheckPhysical' | abpLocalization }}
    </span>
  </a>
  <a class="qt-nav-item" routerLink="/interpretation/interpretation-sound-check-hybrid" routerLinkActive="active"
    title="{{ 'Administration::InterpretationSoundCheckHybrid' | abpLocalization }}">
    <i class="fa fa-volume-up" aria-hidden="true"></i>
    <span>
      {{ 'Administration::InterpretationSoundCheckHybrid' | abpLocalization }}
    </span>
  </a>
  <a class="qt-nav-item" routerLink="/interpretation/interpretation-sound-check-virtual" routerLinkActive="active"
    title="{{ 'Administration::InterpretationSoundCheckVirtual' | abpLocalization }}">
    <i class="fa fa-volume-up" aria-hidden="true"></i>
    <span>
      {{ 'Administration::InterpretationSoundCheckVirtual' | abpLocalization }}
    </span>
  </a>
  <a class="qt-nav-item" routerLink="/interpretation/interpreter-payment" routerLinkActive="active"
    title="{{ 'Administration::InterpreterPayment' | abpLocalization }}">
    <i class="fa fa-credit-card" aria-hidden="true"></i>
    <span>
      {{ 'Administration::InterpreterPayment' | abpLocalization }}
    </span>
  </a>
  <a class="qt-nav-item" routerLink="/interpretation/interpretation-feedback" routerLinkActive="active"
    title="{{ 'Administration::InterpretationFeedback' | abpLocalization }}">
    <i class="fa fa-comment-dots" aria-hidden="true"></i>
    <span>
      {{ 'Administration::InterpretationFeedback' | abpLocalization }}
    </span>
  </a>

  <div class="qt-nav-section">Pipeline</div>
  <a class="qt-nav-item" routerLink="/interpretation/approved-requests" routerLinkActive="active"
    title="{{ 'Administration::ApprovedRequests' | abpLocalization }}">
    <i class="fa fa-thumbs-up" aria-hidden="true"></i>
    <span>
      {{ 'Administration::ApprovedRequests' | abpLocalization }}
    </span>
  </a>
  <a class="qt-nav-item" routerLink="/interpretation/in-process-requests" routerLinkActive="active"
    title="{{ 'Administration::InProcessRequests' | abpLocalization }}">
    <i class="fa fa-spinner" aria-hidden="true"></i>
    <span>
      {{ 'Administration::InProcessRequests' | abpLocalization }}
    </span>
  </a>
  <a class="qt-nav-item" routerLink="/interpretation/rejected-requests" routerLinkActive="active"
    title="{{ 'Administration::RejectedRequests' | abpLocalization }}">
    <i class="fa fa-thumbs-down" aria-hidden="true"></i>
    <span>
      {{ 'Administration::RejectedRequests' | abpLocalization }}
    </span>
  </a>
  <a class="qt-nav-item" routerLink="/interpretation/sla" routerLinkActive="active"
    title="{{ 'Administration::SLA' | abpLocalization }}">
    <i class="fa fa-balance-scale" aria-hidden="true"></i>
    <span>
      {{ 'Administration::SLA' | abpLocalization }}
    </span>
  </a>

  <div class="qt-nav-section">Team</div>
  <a class="qt-nav-item" href="javascript:void(0)">
    <i class="fa fa-cog" aria-hidden="true"></i>
    <span>{{ 'Administration::Settings' | abpLocalization }}</span>
  </a>
</nav>
