html, body {
    min-height: 100vh;
    background-color: #fff;
    background-image: url('/images/background/landing.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.left-side{
 background-image: url('/images/background/bg-home.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}