<div class="d-flex justify-content-between align-items-center flex-wrap gap-2 mb-3">
  <h4 class="fw-bold mb-0">{{ 'Workflow::Account:UsersTitle' | abpLocalization }}</h4>
  <button type="button" class="btn btn-success" (click)="openCreateModal()">
    {{ 'Workflow::Account:NewUser' | abpLocalization }}
  </button>
</div>

<div class="row g-2 mb-3">
  <div class="col-12 col-md-6">
    <input
      class="form-control border border-success"
      [(ngModel)]="search"
      [ngModelOptions]="{ standalone: true }"
      [placeholder]="'Workflow::Account:SearchUsers' | abpLocalization"
    />
  </div>
  <div class="col-12 col-md-auto">
    <button type="button" class="btn btn-success w-100" (click)="applyFilter()">
      {{ 'Workflow::Account:Search' | abpLocalization }}
    </button>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-hover align-middle">
    <thead>
      <tr>
        <th>{{ 'Workflow::Account:Username' | abpLocalization }}</th>
        <th>{{ 'Workflow::Account:Name' | abpLocalization }}</th>
        <th>{{ 'Workflow::Account:Email' | abpLocalization }}</th>
        <th>{{ 'Workflow::Account:IsActive' | abpLocalization }}</th>
        <th>{{ 'Workflow::Actions' | abpLocalization }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="loading">
        <td colspan="5">{{ 'Workflow::Loading' | abpLocalization }}</td>
      </tr>
      <tr *ngFor="let user of users">
        <td>{{ user.userName }}</td>
        <td>{{ user.name }} {{ user.surname }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.isActive ? ('Workflow::Yes' | abpLocalization) : ('Workflow::No' | abpLocalization) }}</td>
        <td>
          <div ngbDropdown class="d-inline-block">
            <button class="btn btn-sm btn-success" ngbDropdownToggle>
              {{ 'Workflow::Actions' | abpLocalization }}
            </button>
            <div ngbDropdownMenu>
              <button ngbDropdownItem type="button" (click)="openEditModal(user)">
                {{ 'Workflow::Edit' | abpLocalization }}
              </button>
              <button ngbDropdownItem type="button" (click)="openPermissionsModal(user)">
                {{ 'Workflow::Account:Permissions' | abpLocalization }}
              </button>
              <button ngbDropdownItem type="button" (click)="deleteUser(user)">
                {{ 'Workflow::Delete' | abpLocalization }}
              </button>
            </div>
          </div>
        </td>
      </tr>
      <tr *ngIf="!loading && !users.length">
        <td colspan="5">{{ 'Workflow::Account:NoUsers' | abpLocalization }}</td>
      </tr>
    </tbody>
  </table>
</div>

<div *ngIf="modalVisible" class="modal fade show d-block" tabindex="-1" role="dialog" aria-modal="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          {{
            isEditMode
              ? ('Workflow::Account:EditUser' | abpLocalization)
              : ('Workflow::Account:NewUser' | abpLocalization)
          }}
        </h5>
        <button type="button" class="btn-close" (click)="closeModal()"></button>
      </div>
      <form [formGroup]="userForm" (ngSubmit)="save()" novalidate>
        <div class="modal-body">
          <div class="row g-3">
            <div class="col-12 col-md-6">
              <label class="form-label">{{ 'Workflow::Account:Username' | abpLocalization }}</label>
              <input class="form-control" formControlName="userName" />
            </div>
            <div class="col-12 col-md-6">
              <label class="form-label">{{ 'Workflow::Account:Email' | abpLocalization }}</label>
              <input type="email" class="form-control" formControlName="email" />
            </div>
            <div class="col-12 col-md-6">
              <label class="form-label">{{ 'Workflow::Account:FirstName' | abpLocalization }}</label>
              <input class="form-control" formControlName="name" />
            </div>
            <div class="col-12 col-md-6">
              <label class="form-label">{{ 'Workflow::Account:LastName' | abpLocalization }}</label>
              <input class="form-control" formControlName="surname" />
            </div>
            <div class="col-12 col-md-6">
              <label class="form-label">{{ 'Workflow::Account:PhoneNumber' | abpLocalization }}</label>
              <input class="form-control" formControlName="phoneNumber" />
            </div>
            <div class="col-12 col-md-6">
              <label class="form-label">{{ 'Workflow::Account:Password' | abpLocalization }}</label>
              <input type="password" class="form-control" formControlName="password" />
            </div>
            <div class="col-12 col-md-6">
              <div class="form-check mt-2">
                <input id="userActive" class="form-check-input" type="checkbox" formControlName="isActive" />
                <label class="form-check-label" for="userActive">{{ 'Workflow::Account:IsActive' | abpLocalization }}</label>
              </div>
            </div>
            <div class="col-12 col-md-6">
              <div class="form-check mt-2">
                <input
                  id="userLockout"
                  class="form-check-input"
                  type="checkbox"
                  formControlName="lockoutEnabled"
                />
                <label class="form-check-label" for="userLockout">{{ 'Workflow::Account:LockoutEnabled' | abpLocalization }}</label>
              </div>
            </div>
            <div class="col-12">
              <label class="form-label">{{ 'Workflow::Account:Roles' | abpLocalization }}</label>
              <div class="row g-2">
                <div class="col-12 col-md-6" *ngFor="let role of availableRoles">
                  <div class="form-check">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      [id]="'role-' + role.id"
                      [checked]="isRoleSelected(role.name)"
                      (change)="onRoleToggle(role.name || '', $any($event.target).checked)"
                    />
                    <label class="form-check-label" [for]="'role-' + role.id">{{ role.name }}</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" (click)="closeModal()">
            {{ 'Workflow::Cancel' | abpLocalization }}
          </button>
          <button type="submit" class="btn btn-success">{{ 'Workflow::Save' | abpLocalization }}</button>
        </div>
      </form>
    </div>
  </div>
</div>
<div *ngIf="modalVisible" class="modal-backdrop fade show"></div>

<abp-permission-management
  [providerName]="'U'"
  [providerKey]="permissionProviderKey"
  [entityDisplayName]="permissionEntityDisplayName"
  [(visible)]="permissionModalVisible"
  [hideBadges]="true"
></abp-permission-management>
