<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
   
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\ResourceryPlatformWorkflow.AuthServer.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess">
        <environmentVariables>
    <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Staging" />
                    <environmentVariable name="OAUTH_CLIENT_ID" value="e768b99f-9f78-4879-b01a-04dec9553b18" />
                    <environmentVariable name="OAUTH_CLIENT_SECRET" value="jOR8Q~5YEBOLfReFDyTKQ1nIObV0l7DWJCn5RdpD" />
                    <environmentVariable name="OAUTH_TENANT_ID" value="c60b9999-7d74-45e3-a02a-d6ff374a0528" />
  </environmentVariables>
</aspNetCore>
    </system.webServer>
  </location>
    <appSettings>
        <clear />
    </appSettings>
</configuration>
<!--ProjectGuid: 38A449EC-17A6-486A-9CEC-6B07297E4372-->