<nav class="qt-nav">
  <a
    class="qt-nav-item"
    routerLink="/directorate"
    routerLinkActive="active"
    title="{{ 'Administration::Dashboard' | abpLocalization }}"
  >
    <!-- <i class="fa fa-border-all" aria-hidden="true"></i> -->
    <span class="text-bold">
      <strong> {{ 'Administration::ConferenceServices' | abpLocalization }} </strong>
    </span>
  </a>

  <!-- <a
    class="qt-nav-item"
    routerLink="/conference/conference-requests"
    routerLinkActive="active"
    title="{{ 'Administration::ConferenceRequests' | abpLocalization }}"
  >
    <i class="fa fa-wpforms" aria-hidden="true"></i>
    <span>
      {{ 'Administration::ConferenceRequests' | abpLocalization }}
    </span>
  </a>

  <a
    class="qt-nav-item"
    routerLink="/conference/calendar-of-events"
    routerLinkActive="active"
    title="{{ 'Administration::CalendarofEvents' | abpLocalization }}"
  >
    <i class="fas fa-calendar" aria-hidden="true"></i>
    <span>
      {{ 'Administration::CalendarofEvents' | abpLocalization }}
    </span>
  </a>

  <a
    class="qt-nav-item"
    routerLink="/conference/meeting-logistics-commission"
    routerLinkActive="active"
    title="{{ 'Administration::MeetingLogisticsCommission' | abpLocalization }}"
  >
    <i class="fas fa-boxes" aria-hidden="true"></i>
    <span>
      {{ 'Administration::MeetingLogisticsCommission' | abpLocalization }}
    </span>
  </a>

  <a
    class="qt-nav-item"
    routerLink="/conference/meeting-logistics-external"
    routerLinkActive="active"
    title="{{ 'Administration::MeetingLogisticsExternal' | abpLocalization }}"
  >
    <i class="fas fa-boxes" aria-hidden="true"></i>
    <span>
      {{ 'Administration::MeetingLogisticsExternal' | abpLocalization }}
    </span>
  </a>

  <a
    class="qt-nav-item"
    routerLink="/conference/meeting-logistics-virtual"
    routerLinkActive="active"
    title="{{ 'Administration::MeetingLogisticsVirtual' | abpLocalization }}"
  >
    <i class="fas fa-boxes" aria-hidden="true"></i>
    <span>
      {{ 'Administration::MeetingLogisticsVirtual' | abpLocalization }}
    </span>
  </a>

  <a
    class="qt-nav-item"
    routerLink="/conference/meeting-logistics-hybrid"
    routerLinkActive="active"
    title="{{ 'Administration::MeetingLogisticsHybrid' | abpLocalization }}"
  >
    <i class="fas fa-boxes" aria-hidden="true"></i>
    <span>
      {{ 'Administration::MeetingLogisticsHybrid' | abpLocalization }}
    </span>
  </a>

  <a
    class="qt-nav-item"
    routerLink="/conference/meeting-logistics-communication"
    routerLinkActive="active"
    title="{{ 'Administration::MeetingLogisticsCommunication' | abpLocalization }}"
  >
    <i class="fas fa-boxes" aria-hidden="true"></i>
    <span>
      {{ 'Administration::MeetingLogisticsCommunication' | abpLocalization }}
    </span>
  </a>

  <a
    class="qt-nav-item"
    routerLink="/conference/inspection-identification"
    routerLinkActive="active"
    title="{{ 'Administration::InspectionIdentification' | abpLocalization }}"
  >
    <i class="fas fa-user-check" aria-hidden="true"></i>
    <span>
      {{ 'Administration::InspectionIdentification' | abpLocalization }}
    </span>
  </a>

  <a
    class="qt-nav-item"
    routerLink="/conference/reproduction"
    routerLinkActive="active"
    title="{{ 'Administration::Reproduction' | abpLocalization }}"
  >
    <i class="fas fa-copy" aria-hidden="true"></i>
    <span>
      {{ 'Administration::Reproduction' | abpLocalization }}
    </span>
  </a>

  <a
    class="qt-nav-item"
    routerLink="/conference/post-event"
    routerLinkActive="active"
    title="{{ 'Administration::PostEvent' | abpLocalization }}"
  >
    <i class="fas fa-calendar-day" aria-hidden="true"></i>
    <span>
      {{ 'Administration::PostEvent' | abpLocalization }}
    </span>
  </a>

  <div class="qt-nav-section">Pipeline</div>
  <a
    class="qt-nav-item"
    routerLink="/conference/approved-requests"
    routerLinkActive="active"
    title="{{ 'Administration::ApprovedRequests' | abpLocalization }}"
  >
    <i class="fa fa-thumbs-up" aria-hidden="true"></i>
    <span>
      {{ 'Administration::ApprovedRequests' | abpLocalization }}
    </span>
  </a>
  <a
    class="qt-nav-item"
    routerLink="/conference/in-process-requests"
    routerLinkActive="active"
    title="{{ 'Administration::InProcessRequests' | abpLocalization }}"
  >
    <i class="fa fa-spinner" aria-hidden="true"></i>
    <span>
      {{ 'Administration::InProcessRequests' | abpLocalization }}
    </span>
  </a>
  <a
    class="qt-nav-item"
    routerLink="/conference/rejected-requests"
    routerLinkActive="active"
    title="{{ 'Administration::RejectedRequests' | abpLocalization }}"
  >
    <i class="fa fa-thumbs-down" aria-hidden="true"></i>
    <span>
      {{ 'Administration::RejectedRequests' | abpLocalization }}
    </span>
  </a>
  <a
    class="qt-nav-item"
    routerLink="/conference/sla"
    routerLinkActive="active"
    title="{{ 'Administration::SLA' | abpLocalization }}"
  >
    <i class="fa fa-balance-scale" aria-hidden="true"></i>
    <span>
      {{ 'Administration::SLA' | abpLocalization }}
    </span>
  </a>

  <div class="qt-nav-section">Team</div>
  <a class="qt-nav-item" href="javascript:void(0)">
    <i class="fa fa-cog" aria-hidden="true"></i>
    <span>{{ 'Administration::Settings' | abpLocalization }}</span>
  </a> -->
</nav>
