<nav class="qt-nav">
  <a class="qt-nav-item" routerLink="/protocol" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
    <!-- <i class="fa fa-book" aria-hidden="true"></i> -->
    <span>
      <strong>
        {{ 'Administration::ProtocolServices' | abpLocalization }}
      </strong>
    </span>
  </a>
 <a class="qt-nav-item" routerLink="/protocol/protocol-requests" routerLinkActive="active"
    title="{{ 'Administration::ProtocolRequests' | abpLocalization }}">
    <i class="fa fa-wpforms" aria-hidden="true"></i>
    <span>
      {{ 'Administration::ProtocolRequests' | abpLocalization }}
    </span>
  </a>
  <a class="qt-nav-item" routerLink="/protocol/protocol-ground-transportation" routerLinkActive="active"
    title="{{ 'Administration::ProtocolGroundTransportation' | abpLocalization }}">
    <i class="fa fa-bus" aria-hidden="true"></i>
    <span>
      {{ 'Administration::ProtocolGroundTransportation' | abpLocalization }}
    </span>
  </a>
  <a class="qt-nav-item" routerLink="/protocol/protocol-visa-procurement" routerLinkActive="active"
    title="{{ 'Administration::ProtocolVisaProcurement' | abpLocalization }}">
    <i class="fa fa-id-card" aria-hidden="true"></i>
    <span>
      {{ 'Administration::ProtocolVisaProcurement' | abpLocalization }}
    </span>
  </a>
  <a class="qt-nav-item" routerLink="/protocol/protocol-accreditation-hom" routerLinkActive="active"
    title="{{ 'Administration::ProtocolAccreditationHo' | abpLocalization }}">
    <i class="fa fa-certificate" aria-hidden="true"></i>
    <span>
      {{ 'Administration::ProtocolAccreditationHom' | abpLocalization }}
    </span>
  </a>
  <a class="qt-nav-item" routerLink="/protocol/protocol-preparation-diplomatic-cocktail-reception"
    routerLinkActive="active" title="{{ 'Administration::ProtocolDiplomaticCocktailReception' | abpLocalization }}">
    <i class="fa fa-glass-martini" aria-hidden="true"></i>
    <span>
      {{ 'Administration::ProtocolDiplomaticCocktailReception' | abpLocalization }}
    </span>
  </a>
  <a class="qt-nav-item" routerLink="/protocol/protocol-reception-staff" routerLinkActive="active"
    title="{{ 'Administration::ProtocolReceptionStaff' | abpLocalization }}">
    <i class="fa fa-users" aria-hidden="true"></i>
    <span>
      {{ 'Administration::ProtocolReceptionStaff' | abpLocalization }}
    </span>
  </a>
  <a class="qt-nav-item" routerLink="/protocol/protocol-custom-duty-waiver" routerLinkActive="active"
    title="{{ 'Administration::ProtocolCustomDutyWaiver' | abpLocalization }}">
    <i class="fa fa-archive" aria-hidden="true"></i>
    <span>
      {{ 'Administration::ProtocolCustomDutyWaiver' | abpLocalization }}
    </span>
  </a>
  <a class="qt-nav-item" routerLink="/protocol/protocol-election-observation" routerLinkActive="active"
    title="{{ 'Administration::ProtocolElectionObservation' | abpLocalization }}">
    <i class="fa fa-eye" aria-hidden="true"></i>
    <span>
      {{ 'Administration::ProtocolElectionObservation' | abpLocalization }}
    </span>
  </a>

 

  <div class="qt-nav-section">Pipeline</div>
  <a class="qt-nav-item" routerLink="/protocol/approved-requests" routerLinkActive="active"
    title="{{ 'Administration::ApprovedRequests' | abpLocalization }}">
    <i class="fa fa-thumbs-up" aria-hidden="true"></i>
    <span>
      {{ 'Administration::ApprovedRequests' | abpLocalization }}
    </span>
  </a>
  <a class="qt-nav-item" routerLink="/protocol/in-process-requests" routerLinkActive="active"
    title="{{ 'Administration::InProcessRequests' | abpLocalization }}">
    <i class="fa fa-spinner" aria-hidden="true"></i>
    <span>
      {{ 'Administration::InProcessRequests' | abpLocalization }}
    </span>
  </a>
  <a class="qt-nav-item" routerLink="/protocol/rejected-requests" routerLinkActive="active"
    title="{{ 'Administration::RejectedRequests' | abpLocalization }}">
    <i class="fa fa-thumbs-down" aria-hidden="true"></i>
    <span>
      {{ 'Administration::RejectedRequests' | abpLocalization }}
    </span>
  </a>
  <a class="qt-nav-item" routerLink="/protocol/sla" routerLinkActive="active"
    title="{{ 'Administration::SLA' | abpLocalization }}">
    <i class="fa fa-balance-scale" aria-hidden="true"></i>
    <span>
      {{ 'Administration::SLA' | abpLocalization }}
    </span>
  </a>

  <div class="qt-nav-section">Team</div>
  <a class="qt-nav-item" href="javascript:void(0)">
    <i class="fa fa-cog" aria-hidden="true"></i>
    <span>{{ 'Administration::Settings' | abpLocalization }}</span>
  </a>
</nav>